.heading {
  text-align: center;
  margin-bottom: 40px; /* Adjusted spacing for a cleaner look */
  font-size: 2rem; /* Increased heading size */
}

.aboutlogo {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  vertical-align: middle; /* Align logo with text */
}

.about-container {
  display: flex;
  align-items: center; /* Align content to the top */
  justify-content: space-between;
  gap: 20px; /* Adds space between text and image */
  padding: 0 20px; /* Adds padding for better structure */
  max-width: 1200px; /* Restricts width for larger screens */
  margin: 0 auto; /* Centers the content */
}

.about-text {
  flex: 1;
  padding-right: 20px;
}

.about-text h1 {
  font-size: 3rem;
  text-align: left; /* Align heading to the left */
  margin-bottom: 20px;
  display: flex;
  align-items: center; /* Align logo and text on the same line */
}

.about-text p {
  margin-top: 0;
  font-size: 16px; /* Adjust font size for better readability */
  line-height: 1.6; /* Increase line spacing for readability */
  height: auto; /* Allows height to adjust based on content */
  overflow: hidden; /* Hide overflow text if it exceeds max height */
  text-align: justify; /* Justify text for a cleaner look */
  padding: 0 10px; /* Add horizontal padding */
}

.about-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column; /* Maintain column layout on mobile */
    align-items: center;
  }

  .about-image {
    margin-top: 20px; /* Space above the image on mobile */
  }

  .about-text h1 {
    font-size: 2rem; /* Decrease heading size on mobile */
  }
  .about-text p {
    font-size: 15px;
    margin-left: 15px; /* Decrease font size on mobile */
  }
  .about-text {
    order: 2; /* Text comes after image on mobile */
  }
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.nunito-sans-regular {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.parisienne-regular {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}
