/* Updated CSS for Navbar with Hamburger Menu */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

hr {
  border: none;
  height: 2px;
  background-color: #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
}

/* Hero Section Styles */

.hero-container {
  position: relative;
  height: 100vh; /* Full screen height */
  overflow: hidden;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Make the Navbar fixed */
  top: 0;
  left: 0;
  width: 95%;
  padding: 15px 30px;
  z-index: 10; /* Ensure it stays above other content */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.navbar:not(.scrolled) {
  background-color: rgba(
    0,
    0,
    0,
    0
  ); /* Semi-transparent background for non-scrolled state */
}

.navbar.scrolled {
  background-color: #fff;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.navbar h1 {
  color: black;
  font-size: 24px;
  margin: 0;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}

.nav-links a:hover {
  color: #433878;
}

/* Hamburger Menu Styles */
/* Hamburger menu styling */
.hamburger img {
  display: none; /* Hidden by default */
  width: 30px;
  height: 30px;
  margin: 0;
  cursor: pointer;
  visibility: hidden; /* Ensures no space is occupied */
  position: absolute; /* Ensures no space is occupied */
}

/* Show hamburger menu on smaller screens */
@media (max-width: 740px) {
  .hamburger img {
    display: block;
    margin-right: 20px;
    visibility: visible; /* Show the image on smaller screens */
    position: relative; /* Reset position to be inline */
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 60px;
    right: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    margin: 0; /* Ensure there is no margin */
  }

  .nav-links.active {
    display: flex;
  }
  .nav-links.active.scrolled {
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .nav-links.active.scrolled a {
    color: black;
  }
}

.navbar h1 {
  font-size: 20px;
}

.hero-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 1; /* Ensure content is above the carousel */
}

.hero-content h2 {
  position: relative;
  top: 70px;
  font-size: 48px;
  margin: 0;
}

.hero-content p {
  position: relative;
  top: 70px;
  font-size: 24px;
  margin-top: 20px;
}

/* About Section Styles */
.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  border-bottom: 1px solid #36c2ce;
}

/*Services Styles*/

.services-contents {
  display: flex;
  flex-direction: column; /* Stack heading and cards vertically */
  align-items: center; /* Center content horizontally */
  padding: 50px;
}

.services-contents h1 {
  margin-bottom: 40px;
  font-size: 2rem;
  text-align: center;
}

/* Container for the cards */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Spread out the cards */
  gap: 15px; /* Smaller gap between cards */
}

.service-card {
  background-color: #f9f9f9;
  padding: 15px; /* Reduced padding */
  margin: 8px; /* Reduced margin */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1 1 calc(25% - 20px); /* Smaller percentage for narrower cards */
  min-height: 280px; /* Slightly reduced height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-card img {
  max-width: 100%;
  height: 300px; /* Constrain image height */
  object-fit: cover; /* Ensures the image fits */
}

.service-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .service-card {
    flex: 1 1 calc(50% - 40px); /* Two cards per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .service-card {
    flex: 1 1 calc(100% - 40px); /* One card per row on very small screens */
  }
}

/*Work Styles*/
.work-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px; /* Space between video tiles */
  padding: 20px;
  background-color: #f9f9f9; /* Optional: background color for the container */
  justify-content: center; /* Center the grid in the container */
  align-items: center; /* Center items vertically */
}

.video-tile {
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  border-radius: 6%;
  max-width: 100%; /* Ensure it doesn't exceed the container */
  display: flex; /* Added to help with centering the iframe */
  justify-content: center; /* Center the iframe within the tile */
}

.video-tile iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; /* Remove border around iframe */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
  .work-container {
    grid-template-columns: 1fr; /* Stack video tiles vertically */
    padding: 10px; /* Reduce padding on mobile */
  }

  .video-tile {
    padding-bottom: 75%; /* Adjust aspect ratio for mobile */
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .work-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns for tablets */
  }

  .video-tile {
    padding-bottom: 56.25%; /* Maintain 16:9 aspect ratio */
  }
}

/*Contact Styles*/

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

/* From Uiverse.io by nikk7007 */
.btn {
  --color: #00a97f;
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: 0.3px solid var(--color);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: var(--color);
  margin-bottom: 10px;
}

.btn::after,
.btn::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: var(--color);
}

.btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.btn:hover {
  color: var(--color2);
}

.btn:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  position: relative;
  right: 20px;
  bottom: 16px;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  right: 1px;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #ff0000;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

.hero-container {
  position: relative;
  height: 100vh; /* Full screen height */
  width: 100%;
  overflow: hidden;
}

/* Video wrapper ensures the video is always full-screen */
.hero-video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio while covering the full area */
}

/* Center the content */
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
  padding: 0 20px; /* Add some padding for smaller screens */
}

.hero-content h2 {
  font-size: 48px;
  margin: 0;
}

.hero-content p {
  font-size: 24px;
}

/* Responsive adjustments for mobile devices */
@media (max-width: 768px) {
  .hero-content h2 {
    font-size: 32px;
  }

  .hero-content p {
    font-size: 18px;
  }

  .hero-video-wrapper {
    height: auto;
    width: 100%;
  }

  .hero-video {
    object-fit: cover;
    height: 100%; /* Ensure video fills height on mobile screens */
  }
}

@media (max-width: 480px) {
  .hero-content h2 {
    font-size: 28px;
  }

  .hero-content p {
    font-size: 16px;
  }
}

.worksection {
  text-align: center;
  font-size: 2rem;
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.loading {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: fixed; /* Make it fixed to cover the whole screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Optional: semi-transparent background */
  z-index: 10; /* Ensure it’s on top */
}

/* From Uiverse.io by david-mohseni */

.icon a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the original color */
}

.icon a:hover {
  color: inherit; /* Ensure the hover effect doesn't change color */
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.nunito-sans-regular {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.parisienne-regular {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}

.orbitron-regular {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
